<h1>{{title}}</h1>
<canvas id='canvas' width='310' height='370'>
  Loading.. please wait!
</canvas>
<div>
  <button id='del'>-</button>
  <button id='add'>+</button>
</div>
<div id='loading-modal' class='modal'>
  <div class="content">
    <div>Please wait...</div>
    <div class='lighter'>App is loading for the first time.<div>
  </div>
</div>
<script src='javascripts/bundle.js'></script>
