<h1>{{title}}</h1>
<canvas id='canvas' touch-action="none" width='310' height='370'>
  Loading.. please wait!
</canvas>
<div>
  <button id='del'>-</button>
  <button id='collision' class='false'>C</button>
  <button id='add'>+</button>
</div>
<div id='loading-modal' class='modal'>
  <div class="content">
    <div>Please wait...</div>
    <div class='lighter'>App is loading for the first time.<div>
  </div>
</div>
<script src="https://code.jquery.com/pep/0.4.1/pep.js"></script>
<script src='javascripts/bundle.js'></script>
